.admin.guests.new
  %h2= simple_format("Edit this Group of Guests")

  = form_tag admin_guest_path(locale, guest_group), method: :put do
    - guest_group.guests.each do |guest|
      = hidden_field_tag "guest_group[guests][][id]", guest.id
      .section= text_field_tag "guest_group[guests][][name]", guest.name, placeholder: 'First Last'

    .section.actions
      = submit_tag 'Save'
