.admin.guests.index
  %h2= simple_format("All Guests")

  .section.actions
    = link_to 'Add a Group of Guests', new_admin_guest_path

  %table
    %thead
      %tr
        %td= 'Name'
        %td= 'Attending?'

    %tbody
      - guests.each do |guest|
        %tr
          %td= guest.name
          %td= guest.attending?
