.admin.guests.index
  %h2= simple_format("All Groups of Guests")

  .section.actions
    = link_to 'Add a Group of Guests', new_admin_guest_path(locale)

  .section.stats
    %table
      %thead
        %tr
          %td= 'Attending'
          %td= 'Not Attending'
          %td= 'No Response'
          %td= 'Total'

      %tbody
        %tr
          %td= responses.count(true)
          %td= responses.count(false)
          %td= responses.count(nil)
          %td= responses.count

  - guest_groups.each do |guest_group|
    %table
      %thead
        %tr
          %td= "Group of Guests ##{guest_group.id}"
          %td
            = link_to 'Edit', edit_admin_guest_path(locale, guest_group)
            = link_to 'Delete', admin_guest_path(locale, guest_group), method: :delete, data: { confirm: 'Are you sure?' }

      %tbody
        - guest_group.guests.each do |guest|
          %tr
            %td= guest.name
            %td= attending_tag(guest.attending)
        %tr
          %td{ colspan: 2 }= comments_tag(guest_group.comments)
