.rsvp
  %h2= simple_format(t('views.rsvp.header'))
  = simple_format(t('views.rsvp.create.info'))

  = form_tag guests_path(locale), method: :put do
    - guest_group.guests.each do |guest|
      .section
        .option= guest.name
        .option
          = radio_button_tag "guest[#{guest.id}][attending]", true, guest.attending == true
          = label_tag "guest[#{guest.id}][attending][true]", t('views.rsvp.create.accept')
        .option
          = radio_button_tag "guest[#{guest.id}][attending]", false, guest.attending == false
          = label_tag "guest[#{guest.id}][attending][false]", t('views.rsvp.create.decline')

    .section
      = hidden_field_tag "id", guest_group.id
      = text_area_tag "guest_group[comments]", guest_group.comments, placeholder: t('views.rsvp.create.comments')

    .section.actions
      = submit_tag t('views.rsvp.create.submit')
