.rsvp
  %h2= simple_format(t('views.rsvp.header'))
  = form_tag guests_path, method: :put do
    = simple_format(t('views.rsvp.create.info'))
    - guests.each do |guest|
      .section
        .name= "#{guest.name}: "
        .option
          = radio_button_tag "guest[#{guest.id}][attending]", true
          = label_tag "guest[#{guest.id}][attending][true]", t('views.rsvp.create.accept')
        .option
          = radio_button_tag "guest[#{guest.id}][attending]", false
          = label_tag "guest[#{guest.id}][attending][false]", t('views.rsvp.create.decline')

    -#TODO comments

    .section.actions
      = submit_tag t('views.rsvp.create.submit')
