.information
  %h2= simple_format(t('views.information.header'))
  - t('views.information.paragraphs').each do |key, paragraph|
    = simple_format(paragraph)
  .divider
  %h2= simple_format(t('views.information.countdown.header'))
  .countdown
    .time.years
      .value= '00'
      .label= t('views.information.countdown.years')
    .time.months
      .value= '00'
      .label= t('views.information.countdown.months')
    .time.days
      .value= '00'
      .label= t('views.information.countdown.days')
    .time.hours
      .value= '00'
      .label= t('views.information.countdown.hours')
    .time.minutes
      .value= '00'
      .label= t('views.information.countdown.minutes')
    .time.seconds
      .value= '00'
      .label= t('views.information.countdown.seconds')
