.information
  %h2= simple_format("Basia and Phillip are getting married on\nSaturday, May 30th 2015 in Kraków, Poland.")
  - t('views.information.paragraphs').each do |key, paragraph|
    = simple_format(paragraph)
  .divider
  %h2= simple_format(t('views.information.countdown.header'))
  .countdown
    .time.days
      .value= '0'
      .label= t('views.information.countdown.days')
    .time.hours
      .value= '00'
      .label= t('views.information.countdown.hours')
    .time.minutes
      .value= '00'
      .label= t('views.information.countdown.minutes')
    .time.seconds
      .value= '00'
      .label= t('views.information.countdown.seconds')
