.our-story
  %h2= simple_format(t('views.our_story.header'))
  - t('views.our_story.paragraphs').each do |key, paragraph|
    = simple_format(paragraph)
  .divider
  %h2= simple_format(t('views.our_story.groom.header'))
  - t('views.our_story.groom.paragraphs').each do |key, paragraph|
    = simple_format(paragraph)
  .divider
  %h2= simple_format("About the Bride")
  - t('views.our_story.bride.paragraphs').each do |key, paragraph|
    = simple_format(paragraph)
