.recommendations
  %h2= simple_format(t('views.recommendations.transportation.header'))
  = simple_format(t('views.recommendations.transportation.paragraphs.taxi', link: outside_link_tag('iCar', 'http://icartaxi.eu')))
  = simple_format(t('views.recommendations.transportation.paragraphs.tram', link: outside_link_tag('Jak Dojade', 'http://krakow.jakdojade.pl')))
  .divider

  %h2= simple_format(t('views.recommendations.hotels.header'))
  = simple_format(t('views.recommendations.hotels.paragraphs.grand', link: outside_link_tag('Grand Hotel', 'http://www.grand.pl')))
  = simple_format(outside_link_tag('Hotel Komorowski', 'http://www.hotelkomorowski.com'))
  = simple_format(outside_link_tag('Hotel Europejski', 'http://www.hoteleuropejskikrakow.com'))
  = simple_format(outside_link_tag('Hotel Saski', 'http://www.hotelsaski.com.pl'))
  = simple_format(outside_link_tag('Hotel Ibis Budget', 'http://www.accorhotels.com/gb/hotel-7165-ibis-budget-krakow-stare-miasto/index.shtml'))
  .divider

  %h2= simple_format(t('views.recommendations.restaurants.header'))
  = simple_format(t('views.recommendations.restaurants.paragraphs.bagels', link: outside_link_tag('Bagelmama', 'http://www.bagelmama.com')))
  = simple_format(t('views.recommendations.restaurants.paragraphs.french', link: outside_link_tag('Charlotte', 'http://www.bistrocharlotte.com')))
  = simple_format(t('views.recommendations.restaurants.paragraphs.brunch', link: outside_link_tag('Nova', 'http://novarestobar.pl'), link2: outside_link_tag('Magnes', 'http://www.magnes.krakow.pl')))
  = simple_format(t('views.recommendations.restaurants.paragraphs.pasta', link: outside_link_tag('Trufla', 'https://www.facebook.com/trufla.krakow')))
  = simple_format(t('views.recommendations.restaurants.paragraphs.polish', link: outside_link_tag('Marmolada', 'http://marmoladarestauracja.pl/en')))
  = simple_format(t('views.recommendations.restaurants.paragraphs.steak', link: outside_link_tag('Pimento', 'http://www.pimiento.pl')))
  = simple_format(t('views.recommendations.restaurants.paragraphs.burgers', link: outside_link_tag('Well Done', 'https://www.facebook.com/pages/Well-Done/593169484049058')))
  = simple_format(t('views.recommendations.restaurants.paragraphs.late', link: outside_link_tag('Kiełbasy', 'https://www.facebook.com/KielbaskiZPodHaliTargowej'), link2: outside_link_tag('Kumpir', 'http://krakowskikumpir.pl/en')))
  .divider

  %h2= simple_format(t('views.recommendations.bars.header'))
  = simple_format(t('views.recommendations.bars.paragraphs.flavored', link: outside_link_tag('Wódka Bar', 'https://www.facebook.com/pages/W%C3%B3dka-Cafe-bar/206241002621')))
  = simple_format(t('views.recommendations.bars.paragraphs.mixed', link: outside_link_tag('Zaraz Wracam', 'http://www.zarazwracam.com')))
  = simple_format(t('views.recommendations.bars.paragraphs.beer', link: outside_link_tag('House of Beer', 'http://www.houseofbeerkrakow.com')))
  = simple_format(t('views.recommendations.bars.paragraphs.commie', link: outside_link_tag('Społem', 'http://pubspolem.pl/index.php')))
  = simple_format(t('views.recommendations.bars.paragraphs.dancing', link: outside_link_tag('Rewolucja', 'https://www.facebook.com/KlubRewolucja'), link2: outside_link_tag('Shine', 'http://shineclub.com.pl')))
  = simple_format(t('views.recommendations.bars.paragraphs.cheapest', link: outside_link_tag('Pijalnia', 'https://www.facebook.com/pages/Pijalnia-W%C3%B3dki-i-Piwa/178848655498407'), link2: outside_link_tag('Bania Luka', 'https://www.facebook.com/pages/BaniaLuka-Mi%C4%99dzy-w%C3%B3dk%C4%85-a-zak%C4%85sk%C4%85/214666425224626')))
  = simple_format(t('views.recommendations.bars.paragraphs.bookstore', link: outside_link_tag('Alternatywy 4', 'https://www.facebook.com/alternatywycztery')))
  .divider

  %h2= simple_format(t('views.recommendations.places.header'))
  = simple_format(outside_link_tag('Wawel Castle', 'http://www.wawel.krakow.pl/en'))
  = simple_format(outside_link_tag('Wieliczka Salt Mines', 'http://www.wieliczka-saltmine.com/?__utma=1.900265029.1424099190.1424099190.1424099190.1&__utmb=1.1.10.1424099190&__utmc=1&__utmx=-&__utmz=1.1424099190.1.1.utmcsr=google|utmccn=(organic)|utmcmd=organic|utmctr=(not%20provided)&__utmv=-&__utmk=129348748'))
  = simple_format(outside_link_tag('Wisła River', 'http://en.wikipedia.org/wiki/Vistula'))
  = simple_format(outside_link_tag('Rynek', 'http://www.krakow.pl'))
  = simple_format(outside_link_tag('Koscioł Mariacki', 'http://mariacki.com/index.php/en'))
  = simple_format(outside_link_tag('Cracovia Football Stadium', 'http://www.cracovia.pl'))
  .divider

  %h2= simple_format(t('views.recommendations.shopping.header'))
  = simple_format(outside_link_tag('Galeria Krakówska', 'http://www.galeriakrakowska.pl'))
  = simple_format(outside_link_tag('Galeria Kazimierz', 'http://galeriakazimierz.pl'))
  = simple_format(outside_link_tag('Bonarka City Center', 'http://www.bonarkacitycenter.pl'))
  .divider

  %h2= simple_format(t('views.recommendations.beauty.header'))
  = simple_format(t('views.recommendations.coming_soon'))
