.rsvp
  %h2= simple_format("Répondez s'il Vous Plaît")
  = form_for Guest.new, url: guests_path, method: :post do |f|
    .section
      = simple_format("Please give us your name.")
      = f.text_field :name, placeholder: 'First Last'

    .section
      = simple_format("Will you be attending?")
      .option
        = f.radio_button :attending, true
        = f.label :attending_true, 'Accepts with Pleasure'
      .option
        = f.radio_button :attending, false
        = f.label :attending_false, 'Declines with Regret'

    .section
      = simple_format("Please leave any additional comments, if you would like.")
      = f.text_area :comments, placeholder: 'Additional comments...'

    .section.actions
      = f.submit 'RSVP'
