%header{ role: 'banner' }
  = link_to root_path, class: 'no-link' do
    = image_tag('monogram.jpg', class: :monogram)

  %nav
    .link.separator= link_to 'Information', information_path
    .link.separator= link_to 'Our Story', our_story_path
    .link.separator= link_to 'Gallery', gallery_path
    .link.separator= link_to 'Recommendations', recommendations_path
    .link.separator= link_to 'Contact Us', contact_us_path
    .link= link_to 'RSVP', rsvp_path

  .divider
