!!!

%html
  %head
    %title Phillip and Basia | Wedding Information
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    '//cdn.rawgit.com/noelboss/featherlight/1.0.4/release/featherlight.min.css'
    = stylesheet_link_tag    '//cdn.rawgit.com/noelboss/featherlight/1.0.4/release/featherlight.gallery.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag '//cdn.rawgit.com/noelboss/featherlight/1.0.4/release/featherlight.min.js'
    = javascript_include_tag '//cdn.rawgit.com/noelboss/featherlight/1.0.4/release/featherlight.gallery.min.js'
    = csrf_meta_tags

  %body
    .container
      = render 'layouts/header'
      = render 'layouts/messages'
      = yield
      = render 'layouts/footer'
